In [2]:
'''Pandas is used to gather data sets through its DataFrames implementation'''
import pandas as pd

In [3]:
# reads the JSON file and converts it to a Pandas DataFrame
df = pd.read_json('files/co2emission.json')

print(df)
# What part of the data set needs to be cleaned?
# From PBL learning, what is a good time to clean data?  Hint, remember Garbage in, Garbage out?

        Make    Model  Engine Size
0      Acura      ILX          2.0
1       Audi       A4          2.0
2        BMW       M5          4.4
3   Cadillac      ATS          3.6
4      Dodge     Dart          2.4
5       Ford     Edge          2.0
6      Honda    Civic          1.8
7   Infiniti      Q70          5.6
8       Jeep  Compass          2.0
9        Kia      Rio          1.7
10     Lexus     IS F          5.0
11     Mazda     CX-9          3.7
12    Nissan   Altima          3.5
13   Porsche  911 GT3          3.8
14    Toyota  Corolla          1.8
15     Volvo      S80          3.2

In [4]:
#print the values in the points column with column header
print(df[['Make']])

print()

#try two columns and remove the index from print statement
print(df[['Make','Model']].to_string(index=False))

        Make
0      Acura
1       Audi
2        BMW
3   Cadillac
4      Dodge
5       Ford
6      Honda
7   Infiniti
8       Jeep
9        Kia
10     Lexus
11     Mazda
12    Nissan
13   Porsche
14    Toyota
15     Volvo

    Make   Model
   Acura     ILX
    Audi      A4
     BMW      M5
Cadillac     ATS
   Dodge    Dart
    Ford    Edge
   Honda   Civic
Infiniti     Q70
    Jeep Compass
     Kia     Rio
   Lexus    IS F
   Mazda    CX-9
  Nissan  Altima
 Porsche 911 GT3
  Toyota Corolla
   Volvo     S80

In [5]:
#sort values
print(df.sort_values(by=['Engine Size']))

print()

#sort the values in reverse order
print(df.sort_values(by=['Engine Size'], ascending=False))

        Make    Model  Engine Size
9        Kia      Rio          1.7
6      Honda    Civic          1.8
14    Toyota  Corolla          1.8
0      Acura      ILX          2.0
1       Audi       A4          2.0
5       Ford     Edge          2.0
8       Jeep  Compass          2.0
4      Dodge     Dart          2.4
15     Volvo      S80          3.2
12    Nissan   Altima          3.5
3   Cadillac      ATS          3.6
11     Mazda     CX-9          3.7
13   Porsche  911 GT3          3.8
2        BMW       M5          4.4
10     Lexus     IS F          5.0
7   Infiniti      Q70          5.6

        Make    Model  Engine Size
7   Infiniti      Q70          5.6
10     Lexus     IS F          5.0
2        BMW       M5          4.4
13   Porsche  911 GT3          3.8
11     Mazda     CX-9          3.7
3   Cadillac      ATS          3.6
12    Nissan   Altima          3.5
15     Volvo      S80          3.2
4      Dodge     Dart          2.4
0      Acura      ILX          2.0
1       Audi       A4          2.0
5       Ford     Edge          2.0
8       Jeep  Compass          2.0
6      Honda    Civic          1.8
14    Toyota  Corolla          1.8
9        Kia      Rio          1.7